ul {
    display: flex;
    border: 1px solid orchid;
    background-color: rgba(218, 112, 214, 0.1);
    padding: 0 2rem;
    border-radius: 8px;
    margin: 0px 20px 20px 20px;
}

li {
    list-style: none;
    padding: 4rem 1rem;
}

/* ************************* LINK ************************* */
.link {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

.link:hover {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(218, 112, 214, 0.1);
}

/* ************************* BUTTON ************************* */
button {
    color: mediumspringgreen;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid mediumspringgreen;
    background-color: rgba(0, 250, 154, 0.1);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* ************************* TABLE ************************* */
table {
    margin: auto;
    width: 80rem;
    position: relative;
    left: 2rem;
    border-radius: 8px;
}

thead {
    border-radius: 8px;
    background-color: rgb(59, 0, 51);
}

th {
    height: 2.5rem;
    color: #ffffff;
    border-radius: 8px;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: center;
}

td {
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
}