.users {
    color: rgb(0, 255, 255);
    padding: 1rem;
    margin: 100px 10px 0 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 255, 255);
    background-color: rgba(0, 255, 255, 0.1);
}

.userlist{
    width: 140px;
    color: rgb(0, 89, 255);
    padding: 1rem;
    margin: 10px auto;
    border-radius: 8px;
    border: 1px solid rgb(0, 89, 255);
    background-color: rgba(0, 89, 255, 0.1);
}
.table{
    width: 40rem;
    color: rgb(255, 255, 255);
    padding: 2rem;
    margin: 20px auto;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
}
th{
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
}