body {
    overflow-x: hidden;
}

.header {
    color: rgb(218, 112, 214);
    padding: 1rem;
    margin: 10px 10px 0 10px;
    border-radius: 8px;
    border: 1px solid rgb(218, 112, 214);
    background-color: rgba(218, 112, 214, 0.1);
}

.navbar {
    color: rgb(255, 255, 255);
    padding: 1rem;
    margin: 10px 10px 0 10px;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
}

.left-ul {
    float: left;
}

ul {
    display: flex;
}

.li_right {
    color: rgb(255, 255, 255);
    position: relative;
    left: 11rem;
    margin: 0 2rem;
    list-style: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.6rem 1.6rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}

.li_left {
    position: relative;
    right: 4rem;
    color: rgb(255, 255, 255);
    margin: 0 2rem;
    list-style: none;
    padding: 0.6rem 1.6rem;
    border-radius: 8px;
}

.li_left:hover {
    background-color: transparent;
}

li:hover {
    cursor: pointer;
    background-color: rgba(111, 111, 111, 0.1);
}

.link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* ************************* NESTED ROUTER ************************* */
.nest-ul {
    list-style: none;
    position: relative;
    left: 19rem;
}

.nest-li {
    color: rgb(255, 255, 255);
    position: relative;
    left: 11rem;
    margin: 0 2rem;
    list-style: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.6rem 1.6rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}

.nest-nest-div{
    width: 100px;
    color: rgb(255, 0, 0);
    margin: 10px auto;
    list-style: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.6rem 1.6rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}

.p-project {
    width: 50%;
    padding: 2rem;
    margin: auto;
    border-radius: 8px;
    color: rgb(255, 251, 0);
    border: 1px solid rgb(255, 251, 0);
    background-color: rgba(255, 251, 0, 0.1);
}

.btn-back {
    display: flex;
    position: relative;
    left: 59px;
}