.header {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    margin: 12px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
}

.container {
    display: flex;
    justify-content: center;
}

.product {
    width: 18rem;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    margin: auto;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-add {
    cursor: pointer;
    color: rgb(0, 250, 208);
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid rgb(0, 250, 208);
    background-color: rgba(0, 250, 208, 0.1);
}

.btn-add:hover {
    color: white;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
}

.cart {
    color: rgb(0, 255, 242);
    position: relative;
    left: 38rem;
}

.home {
    color: rgb(255, 255, 255);
    position: relative;
    right: 38rem;
}