.product-card {
    width: 20rem;
    margin: 1rem;
    padding: 0.6rem;
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #8b8b8b;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}